<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.tubusu.movapic_uploader"
          android:versionCode="1"
          android:versionName="1.0">
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:name="android.hardware.camera" />
  <uses-feature android:name="android.hardware.camera.autofocus" />
  <application android:label="@string/app_short_name"
               android:icon="@drawable/movapic_uploader_icn"
               android:debuggable="true">
    <activity android:name="CameraActivity"
              android:label="@string/app_short_name" android:screenOrientation="landscape"
              android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="Uploader"
              android:label="@string/app_name" android:screenOrientation="portrait">
    </activity>
  </application>
</manifest>
